<header class="navigation">
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    </a>

    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>

    <div class="nav">
      <ul id="navigation-menu">
        <% if user_signed_in? %>
            <li class="nav-link"><a href="javascript:void(0)">Leads</a></li>
            <li class="nav-link more"><a href="javascript:void(0)">Settings</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Salesforce Integration</a></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="navigation-tools">
      <% if user_signed_in? %>
        <%= link_to 'SIGN OFF', destroy_user_session_path, method: :delete, class: 'sign-in' %>
      <% else %>
          <%= link_to 'SIGN UP', new_user_registration_path, class: 'sign-up' %>
          <%= link_to 'SIGN IN', new_user_session_path, class: 'sign-in' %>
      <% end %>
    </div>
  </div>
</header>
